@charset "utf-8";

body {
  background-color: #dc685f;
}

main {
  margin: 20px;
  padding: 20px;
  background-color: #ececec;
}

.cate-title {
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
}
.cate-titlesub {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
}

.camapaign-toptitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  
  margin-bottom: 10px;
}

.brbr-title-logo {
  max-width: 100%;
  min-width: 200px;
  margin-bottom: 30px;

  position: relative;
}

/* cate-box */
.cate-in-box-1 {
  padding: 0px;
  background: #ffffff;
  margin-bottom: 30px;
}

.inbox-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;

  line-height: 1;
}

.inbox-subtitle {
  font-size: 12px;
  font-weight: 900;

  color: #dc685f;
}

.inbox-ate-text {
  font-size: 14px;
  font-weight: 700;
}

.inbox-maintext {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;

  text-align: justify;
  color: #707080;
}


/*  */
/* ギャラリー */
.gallery-area {
  position: relative;
}
.gallery-photo {
  list-style: none;

  padding: 30px;
  background-color: #ffffff;

  rotate: -1deg;
  display: none;

   box-shadow: 5px 5px 2px rgba(125, 125, 125, 0.5);
}
.gallery-photo img {
  max-width: 100%;
  height: auto;
}
.gallery-photo.active {
  display: block;
}
button {
  position: absolute;
  bottom: 40px;
  left: 70vw;

  font-size: 20px;
  font-weight: 900; 
  padding: 20px;
  border-radius: 100px;
  line-height: 1;
  
  background-color: #282830;
  color: #ffffff;
  border: 0px solid;
}
.gallery-onlogo {
  position: relative;
  bottom: 90px;
  max-width: 200px;

  rotate: 5deg;
}

.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}



@media screen and (min-width: 698px) and (max-width: 1024px){

}

@media screen and (min-width: 1025px) {

  main {
    margin: 50px;
  }

}