@charset "utf-8";

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f9f9f9;
}

/* スライダー */
.slider-area {
  z-index: 0;
  width: 90%;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  width: 80%;
  top: 90vh;
  left: 10%;
  /* バーの幅 */
  height: 50px;
  background-color: #f9f9f9;

  border: 3px solid #282830;
  border-radius: 100px;
}

/* つまみ */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url(../img/btn/swipe-arrow.svg);
  background-color: #282830;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
}

/* カメラ描画 */
.video-canvas {
  position: relative;
  width: 100%;
  height: 100vh;
}

video {
  z-index: -100;
}

canvas {
  z-index: -100;
  height: 100vh;
  width: auto;
}

/* カメラ説明エリア */
.ca-about-box {
  position: fixed;
  background-color: #282830;
  z-index: 100;
}