@charset "utf-8";

body {
  background-color: #327fc3;
  background-image: url(../img/main-vis/visual-02-bg.webp);
}

.maz-title-day {
  font-size: 12px;
  font-weight: 900;
  margin-top: 30px;
}
.mgz-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3;

  text-align: justify;
}
.mgz-section {
  margin-top: 0px;
}
.mgz-sec-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.2;
  text-align: justify;
}
.mgz-sec-t2 {
  font-size: 18px;
  font-weight: 600;
}
.mgz-sec-maintext {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;

  margin-bottom: 30px;
  text-align: justify;
}
.mgz-in-img img{
  width: 100%;
  margin-bottom: 30px;
}
.mgz-thum-img img{
  width: 100%;
  margin-bottom: 5px;
}


/*  */
/* ピックアップ */
.pickup-table {
  width: 100%;
  margin-bottom: 30px;
  list-style: none;

  background: #ffffff;
}

.pickup-main {
  padding: 20px;
  border-top: .5px solid #707080;
}

.pickup-main a {
  text-decoration: none;
}

.pickup-day {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
}
.pickup-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;

}

.pickup-text {
  font-size: 14px;
  font-weight: 400;
  color: #707080;

  margin-top: 5px;
}
.mgz-tag {
  margin-bottom: 30px;
}
.pickup-tag {
  padding: 5px 10px;
  font-size: 8px;
  font-weight: 600;

  color: #ffffff;
  background-color: #dc685f;
  border-radius: 100px;
}

.pickup-tag-02 {
  padding: 5px 10px;
  font-size: 8px;
  font-weight: 600;

  color: #ffffff;
  background-color: #327fc3;
  border-radius: 100px;
  
}

.pickup-tag-03 {
  padding: 5px 10px;
  font-size: 8px;
  font-weight: 600;

  color: #ffffff;
  background-color: #8bc658;
  border-radius: 100px;
}

.pickup-link {
  text-align: center;
  padding: 10px 20px;
  background-color: #e63189;
}
.pickup-link-box {
  background-color: #327fc3;
  padding:10px 20px ;
  font-size: 12px;
  font-weight: 500;
}
.pickup-link-box a p {
  color: #ffffff;
}
.pickup-link-box-in {
  display: flex;
  text-decoration: none;
  gap: 20px;
}

.pickup-link a {
  color: #ffffff;
  text-decoration: none;

  font-size: 14px;
  font-weight: 700;
}

.pickup-link:hover {
  background-color: #dc685f;
}

@media screen and (min-width: 698px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}